@media (max-width:1000px) {
  .birthday{
    width:50%;
    height: 20%;
    margin-bottom:50px;
  }
  .favorite{
    width:50%;
    height: 20%;
    margin-bottom:50px;
  }
  .syumi{
    width:50%;
    height: 20%;
    margin-bottom:50px;
  }
  .movie{
    width:50%;
    height: 20%;
    margin-bottom:50px;
  }
  .cat{
    width:50%;
    height: 20%;
    margin-bottom:50px;
  } 
  .osake{
    width:50%;
    height: 20%;
    margin-bottom:50px;
  } 
  .burando{
    width:50%;
    height: 20%;
    margin-bottom:50px;
  } 
  .haiyuu{
    width:50%;
    height: 20%;
    margin-bottom:50px;
  } 
  .season{
    width:50%;
    height: 20%;
    margin-bottom:50px;
  } 
  .color{
    width:50%;
    height: 20%;
    margin-bottom:50px;
  } 
}

@media(max-width: 670px){
  .birthday{
    width:100%;
    height: 20%;
    margin-bottom:50px;
  }
  .favorite{
    width:100%;
    height: 20%;
    margin-bottom:50px;
  }
  .syumi{
    width:100%;
    height: 20%;
    margin-bottom:50px;
  }
  .movie{
    width:100%;
    height: 20%;
    margin-bottom:50px;
  }
  .cat{
    width:100%;
    height: 20%;
    margin-bottom:50px;
  } 
  .osake{
    width:100%;
    height: 20%;
    margin-bottom:50px;
  } 
  .burando{
    width:100%;
    height: 20%;
    margin-bottom:50px;
  } 
  .haiyuu{
    width:100%;
    height: 20%;
    margin-bottom:50px;
  } 
  .season{
    width:100%;
    height: 20%;
    margin-bottom:50px;
  } 
  .color{
    width:100%;
    height: 20%;
    margin-bottom:50px;
  } 
}
